{
  "semi": true,
  "singleQuote": true,
  "proseWrap": "never",
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "arrowParens": "avoid",
  "printWidth": 180
}
